
body {
    background-color: #EDB231;
    text-decoration-color: aliceblue;
    color: #ffffff;
}


.submit_button {
    padding: 8px 15px;
    background-color: #408EE0;
    color: #ffffff;
}

.textContainer {   
    text-align: center;
    padding: 10px 100px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #90d6ff;
    color: #654321;
}

